  <h1 class="content-subhead-blog">New Topic</h1>

  <form class="pure-form pure-form-stacked form-blog">
    <fieldset>
        <label for="subject">Topic</label>
        {{view Ember.TextField valueBinding="fields.subject"}}

        <label for="details">Details</label>
        {{view Ember.TextField valueBinding="fields.content"}}

        <input type="submit" value="Create Topic" class="pure-button pure-button-primary" {{action 'createQuestion' on="click"}}>
    </fieldset>
  </form>
