{{!-- <h3>New Question</h3> --}}

<form>
  <fieldset>
    <dl>
      <dt><label>Question:</label></dt>
      <dd>{{view Ember.TextArea valueBinding="fields.subject"}}</dd>
    </dl>

    <dl>
      <dt><label>Details:</label></dt>
      <dd>{{view Ember.TextArea valueBinding="fields.content"}}</dd>
    </dl>

{{!--     ... --}}
  </fieldset>

  <fieldset class="actions">
    <input type="submit" value="Create Question" {{action 'createQuestion' on="click"}}>
  </fieldset>
</form>
