<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">Goat Island Lightflow</h1>

    <% if current_user %>
      <% unless current_user.lhl_member %>
        <p class="before-lhl-member">Hello there. We're currently adding you to the Lighthouse Labs family.</p>
        <p class="before-lhl-member">Refresh the page in a bit or <a href="mailto:don@lighthouselabs.ca?Subject=Goat%20Island%20Lightflow%20access" class="before-lhl-member">email Don</a> if you're desperate for access. Thanks!</p>
      <% end %>
    <% else %>
      <p class="splash-subhead">KV not around? Don having a beer? Ask your question here.</p>
      <p>
        <a href="/auth/github" class="pure-button pure-button-primary">
          <i class="fa fa-github fa-lg">&nbsp;Log in with Github</i>
        </a>
      </p>
    <% end %>
  </div>
</div>
<div class="content-wrapper">
  <div class="footer l-box is-center">
    <a href="https://twitter.com/EubeneSa" class="made-with-love">Eubene Sa</a> &copy 2014 | Made with <a href="http://emberjs.com/" class="made-with-love">&#9829</a> at Lighthouse Labs in Gastown, Beautiful British Columbia
  </div>
</div>
