<p>{{#link-to 'answers.new'}}answers#create{{/link-to}}</p>

{{outlet}}

<h1>answers#index</h1>
{{#each answer in controller}}
  <p><b>Details</b>: {{answer.content}}</p>
  <p><b>User</b>: {{answer.user.githubUsername}}</p>
  <p><b>Activity</b>: {{answer.formattedUpdatedAt}}</p>
  <hr>
{{/each}}
