<p>{{#link-to 'questions.new'}}questions#create{{/link-to}}</p>
<hr>

{{outlet}}

<h1>questions#index</h1>
{{#each question in controller}}
  <p><b>Topic</b>: {{#link-to 'question' question}}{{question.subject}}{{/link-to}}</p>
  <p><b>User</b>: {{question.user.githubUsername}}</p>
  <p><b>Activity</b>: {{question.formattedUpdatedAt}}</p>
  <hr>
{{/each}}
