<p>{{#link-to 'questions.new'}}questions#create{{/link-to}}</p>
<hr>

{{outlet}}

<h1>questions#index</h1>
{{#each question in controller}}
{{!--   need to add category and upvotes --}}
  <p><b>Subject</b>: {{#link-to 'question' question}}{{question.subject}}{{/link-to}}</p>
  <p><b>Posted by</b>: {{question.user.githubUsername}}</p>
  <hr>
{{/each}}
