<h1>questions#show</h1>
<p><b>Subject</b>: {{model.subject}}</p>
<p><b>Content</b>: {{model.content}}</p>
<p><b>Posted by</b>: {{model.user.githubUsername}}</p>
<p><b>Updated</b>: {{model.formattedUpdatedAt}}</p>
<hr>
