.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 1.5em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-title a {
    color: #222;
    text-decoration: none;
}
.post-title a:hover {
    text-decoration: underline;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.content-subhead-blog {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content-subhead-blog a {
    color: #aaa;
}

.content-subhead-blog a:hover {
    color: #222;
}

.content-blog {
    padding: 2em 1em 0;
}

#layout-blog {
    padding: 0;
    margin: auto auto 2em;
    width: 70%;
}

.form-blog {
    max-width: 40%;
}
